{% load static %}
<style>
  nav ul {
    list-style-type: none; /* убирает маркеры списка */
    padding: 0; /* убирает отступы */
    margin: 10px; /* убирает отступы */
  }

  nav li {
    display: inline; /* располагает элементы списка в одну строку */
    margin-right: 40px; /* добавляет отступы между элементами */
    text-decoration: none;
  }
</style>
<header>
  <img src="{% static 'img/logo.png' %}" height="50" alt="" style="float: right;">
  <nav>
    <ul>
      <li>
        <a href="{% url 'homepage:index' %}">Главная</a>  
      </li>
      <li>
        <a href="{% url 'ice_cream:ice_cream_list' %}">Каталог мороженого</a>       
      </li>
      <li>
        <a href="{% url 'about:description' %}">О проекте</a>
      </li>
    </ul>
  </nav>
</header>